<div class="bg-[url(/landing.jpg)] bg-cover min-h-screen">
  <div class="flex flex-col bg-white/70 min-h-screen px-[100px]">
    <app-navbar />
    <div class="flex-1 flex flex-col gap-3 justify-center">
      <h1 class="text-6xl font-bold">
        Premium Beats For Your <br />
        Next Project
      </h1>
      <p class="text-2xl text-gray-600">
        High-quality instrumentals crafted with precision. <br />
        Find the perfect sound to elevate your music.
      </p>
      <button
        class="mt-6 px-6 py-3 w-fit text-xl font-medium rounded-xl flex items-center gap-2 bg-gradient-to-r from-gray-900 to-gray-800 text-white hover:shadow-lg transition-all"
      >
        <mat-icon>play_arrow</mat-icon>

        Browse Beats
      </button>
    </div>
  </div>
</div>
