<div
  class="flex flex-col gap-20 items-center bg-gray-50 px-[20px] md:px-[100px] py-20"
>
  <div>
    <h3 class="text-center text-4xl font-bold">Why Choose Our Beats</h3>
    <span class="text-center text-lg text-gray-500">
      Premium quality instrumentals crafted with precision and attention to
      detail.
    </span>
  </div>
  <div id="carts-part" class="flex">
    <app-cart />
    <app-cart />
    <app-cart />
  </div>

  <div class="pt-20 flex flex-col gap-8 items-center">
    <h3 class="text-center text-4xl font-bold">
      Ready to create your next hit?
    </h3>
    <span class="text-center text-lg text-gray-500">
      Browse our collection of premium beats and find perfect sound for your
      project.
    </span>
    <button
      class="bg-black py-2.5 px-5 text-white rounded-xl hover:bg-gray-800"
    >
      Browse Beats
    </button>
  </div>
</div>
