<div class="px-[20px] md:px-[100px] py-10 bg-gray-50 shadow-inner">
  <div class="flex justify-between items-start py-6">
    <div class="flex flex-col justify-between h-full w-[400px]">
      <span class="text-3xl uppercase font-bolt"> bat4you </span>
      <p class="text-gray-500">
        Premium instrumentals for content creators. High-quality beats for next
        project.
      </p>
      <div class="text-gray-600 flex gap-4">
        <mat-icon>mail</mat-icon>
        <mat-icon>phone</mat-icon>
        <mat-icon>info</mat-icon>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <h5>Quick Links</h5>
      <div class="flex flex-col text-gray-500 gap-2">
        <a href="#"> Home </a>
        <a href="#"> About </a>
        <a href="#"> Contact </a>
        <a href="#"> FAQ </a>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <h5>Legal</h5>
      <div class="flex flex-col text-gray-500 gap-2">
        <a href="#"> Terms of Service </a>
        <a href="#"> Privacy Policy </a>
        <a href="#"> License Agreement </a>
      </div>
    </div>
  </div>
  <div
    class="flex justify-between pt-5 border-t-1 border-gray-300 text-center text-gray-400 text-sm"
  >
    <p class="">© 2025 BEAT4YOU. All rights reserved.</p>
    <p class="">Designed by <a href="#">Kimbohy</a></p>
  </div>
</div>
